<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814263965390-jdegif7ri43v6tmsuvpop2ukruk3d828.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814263965390-jdegif7ri43v6tmsuvpop2ukruk3d828</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814263965390-9qhlipnd52kbhjsnk2uoje4g0cmqo2ef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB24RuCE4ndVruRLcIC2hBgsxk6TjqVmtA</string>
	<key>GCM_SENDER_ID</key>
	<string>814263965390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.catapulta.vacinadx</string>
	<key>PROJECT_ID</key>
	<string>vacinadx-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>vacinadx-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814263965390:ios:e943846f1057866ebc229f</string>
</dict>
</plist>