<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093132382683-3irm6a2279j1o1ghfn48ags52f0s3pnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093132382683-3irm6a2279j1o1ghfn48ags52f0s3pnb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1093132382683-k4bg6p43qin2rgbbt5g4vtl10a7lkjk8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8rAMaa1xzHlbUi3-YLYD4d45Q76V-qlE</string>
	<key>GCM_SENDER_ID</key>
	<string>1093132382683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.catapulta.vacinadx.app</string>
	<key>PROJECT_ID</key>
	<string>vacinadx</string>
	<key>STORAGE_BUCKET</key>
	<string>vacinadx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093132382683:ios:036aa8ceb8d2e22fd537fe</string>
</dict>
</plist>
